.header{
	background-color: #FFAEC9;
}
.bc{
	padding: 0px;
	height: 100px;
	background-color: cyan;
	border: 3px solid darkgreen;
}
.w{
	border: 2 px solid #FFAEC9;
}
.h-wrapper{
	border: 3px solid darkgreen;
}
.bor-green{
	border: 3px solid yellowgreen;
}








.red{
	background-color: red;
}